body {
    background-color: #f39a34;
    color: black;
    font-family: "Nunito Sans", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0%;
}

button {
    background-color: #f3b267;
    color: black;
    font-family: "Nunito Sans", sans-serif;
}

.passo {
    display: none;
}

.passo.ativo {
    display: block;
}

main {
    text-align: center;
    max-width: 90%;
}

img {
    max-width: 40%;
}